table {
    text-align: left;
}

body {
    background: #F1F1F1;
}

.container {
    margin: auto;
    max-width: 45em;
}

img {
    border-radius: 1em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.block {
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #c6cae6;
}

.hobby {
    background: #e4e8ff;
}

.hwork {
    background-color: #c6cae6;
}

.work {
    background: #ede4ff;
}

.beintouch {
    background: #fee3ec;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1rem;
    font-family: inherit;
}
.btn:hover {
    opacity: .8;
}

a {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}


a:active {
    color: blue;
}

a:visited {
    color: blueviolet;
}

table {
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: #c6cae6;
}

td:hover {
    background-color: cornsilk;    
}

.inline {
    display: flex;
    padding-bottom: 1em;
}

.profile {
    width: 100%;
    text-align: right;
}

.socialm {
    text-align: left;
    padding-left: 1em;
}

textarea {
    box-sizing: border-box;
    padding: .3em;
    margin-top: 1em;
}

.textmssg {
    outline: none;
    width: 100%;
    height: 5em;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: large black;
}

input {
    /*padding: 1em;*/
    margin: 1em;
    outline: none;
}

.inputname {
    width: 50%;
}

.inputname input {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: normal black;
    font: large black;
}

.inprutemail {
    width: max-content;
}
.inputemail input {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    text-decoration: inherit;
    font: large black;
}

@media (max-width: 650px) {
    .inline {
        display: block;
    }
    .btn {
        padding: .3em;
    }
} 